<div class="container">
  <form [formGroup]="rsvpForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input
            class="form-control"
            id="first-name"
            type="text"
            formControlName="firstName"
            placeholder="First Name"
            required
          />
          <label for="first-name">First Name:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <input
            class="form-control"
            id="last-name"
            type="text"
            formControlName="lastName"
            placeholder="Last Name"
            required
          />
          <label for="last-name">Last Name:</label>
        </div>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input
        class="form-control"
        id="email-html"
        type="email"
        formControlName="email"
        placeholder="name@example.com"
        required
      />
      <label for="email-html">Email: </label>
    </div>
    <!-- <div class="form-floating mb-3">    
        <input class="form-control" id="attending-html" type="text" formControlName="attending" placeholder="Yes">
        <label for="attending-html">Attending: </label>
    </div> -->
    <div class="row">
      <div class="col d-flex align-items-center justify-content-center mb-3">
        <div class="form-check mx-3">
          <input
            class="form-check-input"
            type="radio"
            name="attending"
            formControlName="attending"
            id="flexRadioDefault1"
            value="Yes"
            required
          />
          <label class="form-check-label" for="flexRadioDefault1">
            Yes, I'm attending
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="attending"
            formControlName="attending"
            id="flexRadioDefault2"
            value="No"
            checked
            required
          />
          <label class="form-check-label" for="flexRadioDefault2">
            No, I can't make it
          </label>
        </div>
        <!-- <span>Attending: </span>
        <input
          type="radio"
          class="btn-check"
          name="attending"
          formControlName="attending"
          value="Y"
          id="attendingYes"
          autocomplete="off"
          checked
          required
        />
        <label
          class="btn btn-secondary mx-4"
          style="width: 8rem"
          for="attendingYes"
          >Yes</label
        >
        <input
          type="radio"
          class="btn-check"
          name="attending"
          value="N"
          formControlName="attending"
          id="attendingNo"
          autocomplete="off"
          required
        />
        <label class="btn btn-danger mx-4" style="width: 8rem" for="attendingNo"
          >No</label
        > -->
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <input
            class="form-control"
            id="number-html"
            type="number"
            formControlName="numberAttending"
            placeholder="2"
            required
          />
          <label for="number-html">Number attending: </label>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!rsvpForm.valid">
      Submit
    </button>
  </form>
  <br />
  <span>{{ message }}</span>
</div>
