<div class="row pb-2 align-items-center">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header emily-nav-bar-color text-light">
                Ceremony and Reception
            </div>
            <div class="card-body">
               <p class="text-center">
                    <a href="mailto:nickpadonandemilysyczwedding@gmail.com">nickpadonandemilysyczwedding@gmail.com</a>
                    <br>2518 Driscoll, Houston, TX 77019
                    <br>Nick: 713-380-1471
                    <br>Emily: 917-783-2501
                </p>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
