<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink="/" class="nav-link mx-1" aria-current="page">Home</a>
                <a routerLink="/travel" class="nav-link mx-1">Travel</a>
                <a routerLink="/rsvp" class="nav-link mx-1">RSVP</a>
                <a routerLink="/registry" class="nav-link mx-1">Registry</a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>