<div class="row pb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header emily-nav-bar-color text-light">
        Ceremony and Reception
      </div>
      <div class="card-body">
        <div class="row text-center">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title lead">C E R E M O N Y</h5>
                <p class="card-text text-muted">
                  Our ceremony will be at All Saints Catholic Church at 3PM.<br>
                  215 E 10th St, Houston, TX 77008
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title lead">R E C E P T I O N</h5>
                <p class="card-text text-muted">
                  Our reception will be at the Houston Country Club at 6:30PM.<br>
                  1 Potomac Dr, Houston, TX 77057 
                </p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row pb-3 text-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header emily-nav-bar-color text-light">Hotels</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">❶ Omni</h5>
                <p class="card-text small text-muted">
                  Reservations can be made by calling Omni Reservations at 1-800-OMNI before Apr 20, 2022 
                  and referring to the Emily Sycz and Nick Padon Wedding Room Block, 
                  or using the link below to reserve online, for discounted rates on various 
                  room types starting at $139.00.
                </p>
                <a href="#" class="btn btn-primary">Book</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">❷ The Chifley</h5>
                <p class="card-text small text-muted">
                  his new hotel will be replacing the current Sheraton Suites 
                  near the Galleria starting next year. ($139.00)
                </p>
                <a href="#" class="btn btn-primary">Book</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">❸ JW Marriott</h5>
                <p class="card-text small text-muted">
                  Please call Marriott Reservations at 800-228-9290 or 713-961-1500 before Apr 22, 2022 and reference the Sycz/Padon Wedding or 
                  use the link below to reserve online and 
                  receive the special rate of $179.00. For additional benefits (e.g., Wifi)
                  you can sign up for free to become a Marriott Bonvoy member.
                </p>
                <a href="#" class="btn btn-primary">Book</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">❹ Hotel Zaza</h5>
                <p class="card-text small text-muted">
                  TBD $219.00.
                </p>
                <a href="#" class="btn btn-primary">Book</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row pb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header emily-nav-bar-color text-light">
        Weekend Points of Interest
      </div>
      <div class="card-body">
        <img src="assets/Mapv1.png" class="img-fluid" />
      </div>
    </div>
  </div>
</div>

<!--       
      <img src="assets/Mapv1.png" class="img-fluid" /></div>
    <div class="col-9"><h5>Hotels</h5>
      <h6 class="mb-2 text-muted">The Houstonian | More forthcoming...</h6>
      <p>
        For your convenience, a block of hotel rooms has been reserved at The Houstonian.
        Please this <a href="#">link</a> to reserve your room online; or you can
        also call the hotel directly at [TBD]. Please reference the Sycz-Padon
        Wedding and be sure to book your room by April 2022 in order to receive the 
        discounted rate.
      </p>
   </div>
  </div>
  <div class="row align-items-center py-3">
    <div class="col-9">
      <h5>Ceremony</h5>
      <h6 class="mb-2 text-muted">All Saints Catholic Church</h6>
      <p>
        Our ceremony will be held from 3PM - 4:30PM at All Saints at 215 E 10th
        St. Houston, TX 77008
      </p>
      <a href="https://allsaintsheights.com/" class="card-link">Church website</a>
      <a href="https://goo.gl/maps/1Sf9S7w4m52RdLM28" class="card-link"
        >Google Maps</a
      >
    </div>
    <div class="col-3">
      <img src="assets/all_saints.jpg" class="img-fluid" />
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-3">
      <img src="assets/hcc.png" class="img-fluid" />
    </div>
    <div class="col-9">
      <h5>Reception</h5>
      <h6 class="mb-2 text-muted">Houston Country Club</h6>
      <p>
        Our cermony will be held 6:30PM - 11:30PM at 1 Potomac Dr, Houston, TX
        77057
      </p>
      <a href="https://www.houstoncc.com/" class="card-link">HCC Website</a>
      <a href="https://goo.gl/maps/hoK32dY4QwMMnrCj6" class="card-link"
        >Google Maps</a
      >
    </div>
  </div>
</div> -->
