<div class="container">
  <div class="row align-items-center py-3">
    <div class="col-3"> <img src="assets/Mapv1.png" class="img-fluid" /></div>
    <div class="col-9"><h5>Hotels</h5>
      <h6 class="mb-2 text-muted">The Houstonian | More forthcoming...</h6>
      <p>
        For your convenience, a block of hotel rooms has been reserved at The Houstonian.
        Please this <a href="#">link</a> to reserve your room online; or you can
        also call the hotel directly at [TBD]. Please reference the Sycz-Padon
        Wedding and be sure to book your room by April 2022 in order to receive the 
        discounted rate.
      </p>
   </div>
  </div>
  <div class="row align-items-center py-3">
    <div class="col-9">
      <h5>Ceremony</h5>
      <h6 class="mb-2 text-muted">All Saints Catholic Church</h6>
      <p>
        Our ceremony will be held from 3PM - 4:30PM at All Saints at 215 E 10th
        St. Houston, TX 77008
      </p>
      <a href="https://allsaintsheights.com/" class="card-link">Church website</a>
      <a href="https://goo.gl/maps/1Sf9S7w4m52RdLM28" class="card-link"
        >Google Maps</a
      >
    </div>
    <div class="col-3">
      <img src="assets/all_saints.jpg" class="img-fluid" />
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-3">
      <img src="assets/hcc.png" class="img-fluid" />
    </div>
    <div class="col-9">
      <h5>Reception</h5>
      <h6 class="mb-2 text-muted">Houston Country Club</h6>
      <p>
        Our cermony will be held 6:30PM - 11:30PM at 1 Potomac Dr, Houston, TX
        77057
      </p>
      <a href="https://www.houstoncc.com/" class="card-link">HCC Website</a>
      <a href="https://goo.gl/maps/hoK32dY4QwMMnrCj6" class="card-link"
        >Google Maps</a
      >
    </div>
  </div>
</div>
