<div class="container">

<div class="row justify-content-center">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Ceremony</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          All Saints Catholic Church
        </h6>
        <p class="card-text">
          Our cermony will be held from 3PM - 4:30PM at All Saints at 215 E 10th
          St. Houston, TX 77008
        </p>
        <a href="https://allsaintsheights.com/" class="card-link"
          >Church website</a
        >
        <a href="https://goo.gl/maps/1Sf9S7w4m52RdLM28" class="card-link"
          >Google Maps</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Reception</h5>
        <h6 class="card-subtitle mb-2 text-muted">Houston Country Club</h6>
        <p class="card-text">
          Our cermony will be held 6:30PM - 11:30PM at 1 Potomac Dr, Houston, TX
          77057
        </p>
        <a href="https://www.houstoncc.com/" class="card-link">HCC Website</a>
        <a href="https://goo.gl/maps/hoK32dY4QwMMnrCj6" class="card-link"
          >Google Maps</a
        >
      </div>
    </div>
  </div>
</div>
</div>