<div class="row mx-3 align-items-center">
  <div class="col-9">
    <h3 class="display-5 text-start">We're Getting Married!</h3>
    <p class="lead text-start">21 May 2022 · Houston, TX</p>
    <hr>
    <p class="text-start small text-muted ">
        This website is kind of painful but we made it. 
        It's like when your child is ugly but it's yours and you love it.
        We hope you take as much pleasure reading it as we had in making it,
        and we can’t wait to celebrate our big day with you.</p>
  </div>
  <div class="col-3"></div>
</div>
<div class="row align-items-center">
  <div class="col-12">
    <img src="assets/a1.jpg" style="width: 30%" />
    <img src="assets/a2.jpg" style="width: 30%" />&nbsp;
    <img src="assets/a3.jpg" style="width: 30%" />
  </div>
</div>
<div class="row mx-3 align-items-center">
  <div class="col-12">
    <p class="text-start small text-muted">
      </p>
      <p class="lead text-start"><b>OUR STORY</b></p>
      <p class="text-start small text-muted">
        Emily was living in New York City and working at a consulting firm; and Nick lived in Houston and worked for the same consulting firm.
        On a work trip to Miami, they met for the first time in a crowded bar and talked about their favorite books (Nick was being exceptionally awkward).
        A few months later, they crossed paths on a project in New Orleans and became friends.
        Call it luck or fate, Emily had been planning to one day move to Houston.
        Once she did, it didn’t take Nick long to desperately try to be with her...which is now going to be forever.
    </p>
  </div>
</div>
<div class="row align-items-center">
  <div class="col-12">
    <img src="assets/e1.jpg" style="width: 29%" />&nbsp;
    <img src="assets/e2.jpg" style="width: 29%" />&nbsp;
    <img src="assets/e3.jpg" style="width: 31%" />
  </div>
</div>
