<div class="row mx-3 align-items-center">
  <div class="col-9">
    <h3 class="display-5 text-start">We're Getting Married!</h3>
    <p class="lead text-start">21 May 2022 · Houston, TX</p>
    <hr>
    <p class="small text-muted  text-start">
        This website is kind of painful but we made it. 
        It's like when your child is ugly but it's yours and you love it.
    We hope you take as much pleasure reading it as we had in making it.</p>
  </div>
  <div class="col-3"></div>
</div>
<div class="row align-items-center">
  <div class="col-12">
    <img src="assets/a1.jpg" style="width: 31%" />&nbsp;
    <img src="assets/a2.jpg" style="width: 31%" />&nbsp;
    <img src="assets/a3.jpg" style="width: 31%" />
  </div>
</div>
<div class="row mx-4 align-items-center" style="height: 8rem">
  <div class="col-12">
    <p class="lead text-start align-middle">
      In case the previous header didn't inform you, we are totally getting married in May 2022.
    </p>
  </div>
</div>
<div class="row align-items-center">
  <div class="col-12">
    <img src="assets/e1.jpg" style="width: 30%" />&nbsp;
    <img src="assets/e2.jpg" style="width: 30%" />&nbsp;
    <img src="assets/e3.jpg" style="width: 32%" />
  </div>
</div>
